@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color: #fff;
  box-sizing: border-box;

  color: #333;
  font-family: Georgia,serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
.brand-family {
  font-family: Coda,sans-serif;
}

.list-group {
  display: block;
  padding: 0;

  list-style-type: none;
}

.list-group-item {
  display: block;
}

.list-group-item-inline {
  display: inline-block;
}

a {
  color: #4484c2;
}

.captain {
  border-color: #586c54;

  color: #586c54;
}

.command {
  border-color: #af872b;

  color: #af872b;
}

.sciences {
  border-color: #2c5376;

  color: #2c5376;
}

.operations {
  border-color: #8f3e38;

  color: #8f3e38;
}

.masthead {
  border-bottom: 2px solid #e2e2e2;
}

.logo {
  background-color: #ccc;

  color: #000;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.logo-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.nav {
  overflow: hidden;

  text-align: center;
}

.nav li {
  float: left;
  margin-bottom: 2px;
  width: 25%;

  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.nav a {
  display: block;
  padding: 1em .5em;

  border-bottom-width: 2px;
  border-bottom-style: solid;

  text-decoration: none;
}

.nav a:hover {
  background-color: #e2e2e2;
}

.nav-extra {
  display: none;
  visibility: hidden;
}

.footer {
  border-top: 2px solid #e2e2e2;
}

.copyright {
  text-align: center;
}

.footer-links {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .nav {
    float: right;
    width: 100%;
  }

  .copyright {
    text-align: left;
  }

  .footer-links {
    text-align: right;
  }

}

@media only screen and (min-width: 42em) {

  .nav-extra {
    display: inline;
    visibility: visible;
  }

}
